<h1>Cadastro</h1>
<form>
    <div>
        <label for="codigo">Código: </label>
        <input id="codigo" name="codigo" type="text" ng-model="produto.id"/>
    </div>

    <div>
        <label for="descricao">Descrição </label>
        <input id="descricao" name="descricao" type="text" ng-model="produto.descricao"/>
    </div>

    <div>
        <label for="preco">Preço: </label>
        <input id="preco" name="preco" type="text" ng-model="produto.preco"/>
    </div>

    <br>
    <div>
        <button ng-click="salvar(produto)"> Salvar </button>
        <button ng-click="salvarCadastrarNovo(produto)"> Salvar e Cadastrar Novo </button>
        <button ng-click="cancelar()"> Cancelar </button>
    </div>
</form>

